In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
from math import radians, cos, sin, asin, sqrt

In [2]:
pd.set_option('display.max_rows', 1000)

Read files

In [3]:
# Get the paths where all the files are stored
current_path = os.getcwd()
train_path = current_path + '/train.csv'
test_path = current_path + '/test.csv'

In [4]:
# read csv files
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)
print('shape of train data:',train_df.shape)
print('shape of test data:',test_df.shape)

shape of train data: (16756, 8)
shape of test data: (12212, 6)

In [5]:
train_df.head()

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0

In [6]:
test_df['Date'].value_counts()

2020-03-17    284
2020-04-01    284
2020-04-21    284
2020-04-10    284
2020-03-27    284
2020-03-12    284
2020-03-23    284
2020-04-15    284
2020-04-19    284
2020-04-08    284
2020-04-20    284
2020-03-26    284
2020-03-13    284
2020-04-18    284
2020-04-04    284
2020-03-14    284
2020-04-13    284
2020-04-14    284
2020-04-05    284
2020-04-06    284
2020-04-11    284
2020-03-22    284
2020-04-03    284
2020-04-12    284
2020-03-24    284
2020-03-21    284
2020-04-09    284
2020-03-16    284
2020-03-25    284
2020-03-20    284
2020-04-23    284
2020-03-15    284
2020-03-29    284
2020-04-17    284
2020-03-30    284
2020-03-31    284
2020-03-19    284
2020-04-22    284
2020-04-16    284
2020-04-02    284
2020-04-07    284
2020-03-18    284
2020-03-28    284
Name: Date, dtype: int64

Perform data transformation

In [7]:
# Convert confirmed cases and fatalities columns to int as they are counts
train_df['ConfirmedCases'] = train_df['ConfirmedCases'].astype(int)
train_df['Fatalities'] = train_df['Fatalities'].astype(int)

In [8]:
# Convert string date time to datetime object
train_df['Modified_Date'] = pd.to_datetime(train_df['Date'])

In [9]:
# Extract month from datetime object
train_df["month"] = train_df['Modified_Date'].map(lambda x: x.month)

In [10]:
train_df

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,Modified_Date,month
0,1,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,2020-01-22,1
1,2,NaN,Afghanistan,33.0000,65.0000,2020-01-23,0,0,2020-01-23,1
2,3,NaN,Afghanistan,33.0000,65.0000,2020-01-24,0,0,2020-01-24,1
3,4,NaN,Afghanistan,33.0000,65.0000,2020-01-25,0,0,2020-01-25,1
4,5,NaN,Afghanistan,33.0000,65.0000,2020-01-26,0,0,2020-01-26,1
...,...,...,...,...,...,...,...,...,...,...
16751,26374,NaN,Zambia,-15.4167,28.2833,2020-03-16,0,0,2020-03-16,3
16752,26375,NaN,Zambia,-15.4167,28.2833,2020-03-17,0,0,2020-03-17,3
16753,26376,NaN,Zambia,-15.4167,28.2833,2020-03-18,2,0,2020-03-18,3
16754,26377,NaN,Zambia,-15.4167,28.2833,2020-03-19,2,0,2020-03-19,3
16755,26378,NaN,Zambia,-15.4167,28.2833,2020-03-20,2,0,2020-03-20,3

In [11]:
train_df[train_df['Province/State'].isnull()== True]

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,Modified_Date,month
0,1,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,2020-01-22,1
1,2,NaN,Afghanistan,33.0000,65.0000,2020-01-23,0,0,2020-01-23,1
2,3,NaN,Afghanistan,33.0000,65.0000,2020-01-24,0,0,2020-01-24,1
3,4,NaN,Afghanistan,33.0000,65.0000,2020-01-25,0,0,2020-01-25,1
4,5,NaN,Afghanistan,33.0000,65.0000,2020-01-26,0,0,2020-01-26,1
...,...,...,...,...,...,...,...,...,...,...
16751,26374,NaN,Zambia,-15.4167,28.2833,2020-03-16,0,0,2020-03-16,3
16752,26375,NaN,Zambia,-15.4167,28.2833,2020-03-17,0,0,2020-03-17,3
16753,26376,NaN,Zambia,-15.4167,28.2833,2020-03-18,2,0,2020-03-18,3
16754,26377,NaN,Zambia,-15.4167,28.2833,2020-03-19,2,0,2020-03-19,3
16755,26378,NaN,Zambia,-15.4167,28.2833,2020-03-20,2,0,2020-03-20,3

In [12]:
unique_country = train_df['Country/Region'].unique()
unique_state = train_df['Province/State'].unique()

In [13]:
# Create a dictionary to tag string columns to numbers for countries column
unique_country_to_index_dict = {}
index_to_unique_country_dict = {}
for i, val in enumerate(unique_country):
    unique_country_to_index_dict[val] = i
    index_to_unique_country_dict[i] = val

In [14]:
# Create a dictionary to tag string columns to numbers for state column
unique_state_to_index_dict = {}
index_to_unique_state_dict = {}
for i, val in enumerate(unique_state):
    unique_state_to_index_dict[val] = i
    index_to_unique_state_dict[i] = val

In [15]:
# Apply the transformations from dictionary to columns
train_df['country_index'] = train_df['Country/Region'].apply(lambda x:unique_country_to_index_dict[x])
train_df['state_index'] = train_df['Province/State'].apply(lambda x:unique_state_to_index_dict[x])

In [16]:
def single_pt_haversine(lat, lng, degrees=True):
    """
    'Single-point' Haversine: Calculates the great circle distance
    between a point on Earth and the (0, 0) lat-long coordinate
    """
    r = 6371 # Earth's radius (km). Have r = 3956 if you want miles

    # Convert decimal degrees to radians
    if degrees:
        lat, lng = map(radians, [lat, lng])

    # 'Single-point' Haversine formula
    a = sin(lat/2)**2 + cos(lat) * sin(lng/2)**2
    # Modifying this part and removing the scaling factor
    # d = 2 * r * asin(sqrt(a)) 
    d = asin(sqrt(a)) 

    return d

In [17]:
# Convert lat long feature to a single feature and fill nan values in the subsequent column
#train_df['lat-long']= [str(x) + '' + str(y) for x, y in zip(train_df['Lat'], train_df['Long'])]
train_df['harvesine-lat-long'] = [single_pt_haversine(x, y) for x, y in zip(train_df['Lat'], train_df['Long'])]
train_df['harvesine-lat-long'] = train_df['harvesine-lat-long'].fillna(-1)

In [18]:
train_df

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,Modified_Date,month,country_index,state_index,harvesine-lat-long
0,1,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,2020-01-22,1,0,0,0.604242
1,2,NaN,Afghanistan,33.0000,65.0000,2020-01-23,0,0,2020-01-23,1,0,0,0.604242
2,3,NaN,Afghanistan,33.0000,65.0000,2020-01-24,0,0,2020-01-24,1,0,0,0.604242
3,4,NaN,Afghanistan,33.0000,65.0000,2020-01-25,0,0,2020-01-25,1,0,0,0.604242
4,5,NaN,Afghanistan,33.0000,65.0000,2020-01-26,0,0,2020-01-26,1,0,0,0.604242
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16751,26374,NaN,Zambia,-15.4167,28.2833,2020-03-16,0,0,2020-03-16,3,162,0,0.278420
16752,26375,NaN,Zambia,-15.4167,28.2833,2020-03-17,0,0,2020-03-17,3,162,0,0.278420
16753,26376,NaN,Zambia,-15.4167,28.2833,2020-03-18,2,0,2020-03-18,3,162,0,0.278420
16754,26377,NaN,Zambia,-15.4167,28.2833,2020-03-19,2,0,2020-03-19,3,162,0,0.278420
16755,26378,NaN,Zambia,-15.4167,28.2833,2020-03-20,2,0,2020-03-20,3,162,0,0.278420

In [19]:
train_df['harvesine-lat-long'].unique()

array([ 0.60424194,  0.39292762,  0.24503553,  0.37112982,  0.55100235,
        0.60758611,  0.49972456, -1.        ,  1.17180616,  1.12025686,
        1.1928622 ,  1.1317436 ,  1.24028837,  1.11658992,  1.12049264,
        1.13711883,  0.97495782,  0.42915248,  0.51449234,  0.48155829,
        0.78824556,  0.5273387 ,  0.51031987,  0.44459561,  0.08367982,
        0.78875406,  0.56483729,  0.40717739,  0.46505044,  1.00046728,
        0.42296247,  0.10765208,  0.91287568,  0.10577109,  0.91866639,
        0.96762271,  1.00617468,  0.83075045,  0.64632686,  0.622047  ,
        0.6254123 ,  0.75987187,  0.62886577,  0.69964474,  0.87115159,
        0.19123107,  0.65534665,  0.98502144,  0.9587866 ,  0.91983788,
        1.00294758,  0.86145995,  0.97221641,  0.9349232 ,  0.9164256 ,
        0.94776458,  0.958643  ,  0.99709368,  0.95490159,  0.97989895,
        0.95086961,  0.95236728,  0.93328925,  0.99802   ,  0.98276864,
        1.00606813,  0.99382216,  0.97491265,  0.89710548,  0.82783696,
        0.91914288,  0.98030243,  1.01669411,  0.93807445,  0.8806474 ,
        0.96694616,  0.77123436,  0.75411841,  0.87615845,  1.01195355,
        0.64881328,  0.19296686,  0.73167655,  0.08160416,  0.41071313,
        0.70454435,  0.40975852,  0.44985377,  0.49556244,  0.54205365,
        0.38307348,  0.62181112,  0.6823323 ,  0.33935877,  0.08823287,
        0.53950217,  0.35128376,  0.36071964,  0.58290544,  0.40376928,
        0.46449317,  1.26623123,  0.54816203,  0.40640765,  0.50509874,
        0.56066782,  0.56267755,  0.10155028,  0.1768694 ,  0.50157571,
        0.45002397,  0.06991513,  0.38300007,  0.66590352,  0.5479141 ,
        1.24464696,  0.78733633,  0.43196613,  0.12091711,  0.51384422,
        0.37859707,  0.75375142,  0.43755721,  0.57958782,  0.68772704,
        0.99412984,  0.51759178,  0.46158872,  0.46711933,  0.39619164,
        0.38682008,  0.68012393,  1.10790965,  0.42955638,  0.40657689,
        0.65276282,  0.33079405,  1.04609009,  0.40629326,  0.47283588,
        0.68589706,  0.52544774,  0.41625477,  0.09944621,  0.41776655,
        0.5106525 ,  0.43712996,  0.9815506 ,  0.63920662,  0.33460888,
        0.54148401,  0.20569863,  0.52114042,  0.88562254,  0.46648478,
        0.38599768,  0.86758718,  0.40060162,  0.28354758,  0.2544721 ,
        0.74117875,  0.61548911,  0.60635962,  0.45659735,  1.21157965,
        0.10938328,  0.40154124,  0.53080052,  0.51869794,  0.63078664,
        0.70585593,  0.53499187,  0.65634818,  1.0566825 ,  0.47440138,
        0.35004266,  0.59114825,  0.48430652,  0.13631779,  0.50734195,
        0.44437011,  0.78539816,  0.2611976 ,  0.54023931,  0.54180812,
        0.39553516,  0.43424877,  0.17767911,  0.41738496,  0.48540402,
        0.9060856 ,  0.44990512,  0.41885481,  0.40510121,  0.32752721,
        0.35051488,  0.70744858,  0.28450393,  0.48972228,  0.55959928,
        0.41337375,  1.03095096,  0.30886   ,  0.8780817 ,  0.67419608,
        0.18548807,  0.07556033,  0.53902236,  0.30571259,  0.44137602,
        0.76255637,  1.00467658,  0.93977791,  0.80236684,  0.99116623,
        0.88865022,  0.67362276,  0.6879779 ,  0.69758833,  0.72125434,
        0.73892328,  1.3049589 ,  0.93609551,  0.77865521,  0.76033714,
        0.80621013,  0.83127907,  0.74860069,  0.79934412,  0.65888999,
        0.69629029,  0.6670052 ,  0.75073683,  0.80916212,  0.78303978,
        0.8010348 ,  0.90590161,  0.83966688,  0.96786671,  0.66957626,
        0.68290786,  0.90125606,  0.68855029,  0.7132257 ,  0.84289618,
        0.73736188,  0.83454377,  0.97934823,  0.70094116,  0.59191275,
        0.66584408,  0.71986298,  0.84421861,  0.76197577,  0.84189835,
        0.8251424 ,  0.57815602,  0.92970896,  0.67775873,  0.70401132,
        0.96608792,  0.72371395,  0.7830017 ,  0.89547445,  0.48315764,
        0.5019784 ,  0.71340585,  0.43121968,  0.31836241,  0.55380422,
        0.48388538,  0.5382841 ,  0.62145945,  0.5824631 ,  0.93619703,
        0.27842025])

In [20]:
train_df[train_df['harvesine-lat-long'].isnull()==True]

Empty DataFrame
Columns: [Id, Province/State, Country/Region, Lat, Long, Date, ConfirmedCases, Fatalities, Modified_Date, month, country_index, state_index, harvesine-lat-long]
Index: []

In [21]:
# Extract data based on months
month1_df = train_df[train_df['month'] == 1]
month2_df = train_df[train_df['month'] == 2]
month3_df = train_df[train_df['month'] == 3]

In [22]:
month1_df

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,Modified_Date,month,country_index,state_index,harvesine-lat-long
0,1,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,2020-01-22,1,0,0,0.604242
1,2,NaN,Afghanistan,33.0000,65.0000,2020-01-23,0,0,2020-01-23,1,0,0,0.604242
2,3,NaN,Afghanistan,33.0000,65.0000,2020-01-24,0,0,2020-01-24,1,0,0,0.604242
3,4,NaN,Afghanistan,33.0000,65.0000,2020-01-25,0,0,2020-01-25,1,0,0,0.604242
4,5,NaN,Afghanistan,33.0000,65.0000,2020-01-26,0,0,2020-01-26,1,0,0,0.604242
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16702,26325,NaN,Zambia,-15.4167,28.2833,2020-01-27,0,0,2020-01-27,1,162,0,0.278420
16703,26326,NaN,Zambia,-15.4167,28.2833,2020-01-28,0,0,2020-01-28,1,162,0,0.278420
16704,26327,NaN,Zambia,-15.4167,28.2833,2020-01-29,0,0,2020-01-29,1,162,0,0.278420
16705,26328,NaN,Zambia,-15.4167,28.2833,2020-01-30,0,0,2020-01-30,1,162,0,0.278420
16706,26329,NaN,Zambia,-15.4167,28.2833,2020-01-31,0,0,2020-01-31,1,162,0,0.278420

In [23]:
month3_df[month3_df['ConfirmedCases']>0]['Country/Region'].value_counts()

China                               660
US                                  585
Australia                           140
Canada                              126
France                               91
United Kingdom                       59
Denmark                              37
Netherlands                          35
Qatar                                20
Russia                               20
Taiwan*                              20
Ireland                              20
Spain                                20
New Zealand                          20
Iceland                              20
San Marino                           20
Azerbaijan                           20
Luxembourg                           20
Nigeria                              20
Nepal                                20
Switzerland                          20
Oman                                 20
Dominican Republic                   20
Sri Lanka                            20
Armenia                              20
Georgia                              20
Sweden                               20
North Macedonia                      20
Greece                               20
Belarus                              20
Belgium                              20
Malaysia                             20
Brazil                               20
Bahrain                              20
Monaco                               20
Norway                               20
Israel                               20
Germany                              20
Egypt                                20
Algeria                              20
Afghanistan                          20
Korea, South                         20
India                                20
United Arab Emirates                 20
Cruise Ship                          20
Cambodia                             20
Estonia                              20
Iraq                                 20
Vietnam                              20
Lithuania                            20
Czechia                              20
Thailand                             20
Kuwait                               20
Pakistan                             20
Lebanon                              20
Mexico                               20
Romania                              20
Iran                                 20
Philippines                          20
Italy                                20
Austria                              20
Japan                                20
Singapore                            20
Finland                              20
Ecuador                              20
Croatia                              20
Andorra                              19
Senegal                              19
Saudi Arabia                         19
Portugal                             19
Indonesia                            19
Morocco                              19
Latvia                               19
Ukraine                              18
Jordan                               18
Chile                                18
Argentina                            18
Tunisia                              17
Poland                               17
Liechtenstein                        17
Hungary                              17
Bosnia and Herzegovina               16
Slovenia                             16
South Africa                         16
Costa Rica                           15
Colombia                             15
Cameroon                             15
Serbia                               15
Slovakia                             15
Bhutan                               15
Peru                                 15
Togo                                 15
Holy See                             15
Martinique                           14
Malta                                14
Paraguay                             13
Maldives                             13
Bangladesh                           13
Bulgaria                             13
Moldova                              13
Albania                              12
Cyprus                               12
Brunei                               12
Burkina Faso                         11
Mongolia                             11
Panama                               11
Cote d'Ivoire                        10
Congo (Kinshasa)                     10
Honduras                             10
Turkey                               10
Bolivia                              10
Jamaica                              10
Guyana                                9
Cuba                                  9
Guinea                                8
Antigua and Barbuda                   8
Kenya                                 8
Ethiopia                              8
Sudan                                 8
Kazakhstan                            8
Uruguay                               7
Namibia                               7
Rwanda                                7
Mauritania                            7
Saint Lucia                           7
Venezuela                             7
Guatemala                             7
Suriname                              7
Trinidad and Tobago                   7
Ghana                                 7
Eswatini                              7
Saint Vincent and the Grenadines      7
Seychelles                            7
Gabon                                 7
Uzbekistan                            6
Kosovo                                6
Equatorial Guinea                     6
Central African Republic              6
Congo (Brazzaville)                   6
Tanzania                              5
Somalia                               5
Benin                                 5
Liberia                               5
Gambia, The                           4
Barbados                              4
Montenegro                            4
Djibouti                              3
Kyrgyzstan                            3
Mauritius                             3
Zambia                                3
Guadeloupe                            1
Reunion                               1
French Guiana                         1
Mayotte                               1
Name: Country/Region, dtype: int64

In [24]:
month1_df['Country/Region'].value_counts()

US                                  580
China                               330
Canada                              110
Australia                            90
France                               80
United Kingdom                       50
Netherlands                          30
Denmark                              20
India                                10
Barbados                             10
Liberia                              10
Saint Vincent and the Grenadines     10
Cruise Ship                          10
United Arab Emirates                 10
Andorra                              10
Djibouti                             10
Kazakhstan                           10
Korea, South                         10
Aruba                                10
Afghanistan                          10
Algeria                              10
Ghana                                10
Maldives                             10
Egypt                                10
Taiwan*                              10
Cote d'Ivoire                        10
Portugal                             10
Latvia                               10
Paraguay                             10
Zambia                               10
Guam                                 10
Sweden                               10
Colombia                             10
Morocco                              10
Burkina Faso                         10
Gabon                                10
Ethiopia                             10
Seychelles                           10
Nigeria                              10
Greece                               10
Indonesia                            10
North Macedonia                      10
Panama                               10
Spain                                10
Malta                                10
Malaysia                             10
Jersey                               10
Somalia                              10
Sudan                                10
Saint Lucia                          10
Mauritania                           10
Belgium                              10
Senegal                              10
Gambia, The                          10
Puerto Rico                          10
Qatar                                10
Monaco                               10
Ireland                              10
Greenland                            10
Tanzania                             10
Martinique                           10
Brazil                               10
French Guiana                        10
Suriname                             10
Ukraine                              10
Germany                              10
Jordan                               10
Belarus                              10
Uzbekistan                           10
Israel                               10
Kosovo                               10
Honduras                             10
Republic of the Congo                10
Bahrain                              10
Norway                               10
Mayotte                              10
Namibia                              10
Central African Republic             10
The Bahamas                          10
Guyana                               10
Holy See                             10
New Zealand                          10
Iraq                                 10
Jamaica                              10
San Marino                           10
Finland                              10
Philippines                          10
Iran                                 10
Bosnia and Herzegovina               10
Mongolia                             10
Liechtenstein                        10
Albania                              10
Hungary                              10
Bulgaria                             10
Ecuador                              10
Lebanon                              10
Serbia                               10
Czechia                              10
Croatia                              10
Togo                                 10
Congo (Brazzaville)                  10
Thailand                             10
Romania                              10
Costa Rica                           10
Eswatini                             10
Tunisia                              10
Reunion                              10
Japan                                10
Saudi Arabia                         10
Argentina                            10
Bhutan                               10
Pakistan                             10
Vietnam                              10
Uruguay                              10
Cameroon                             10
Brunei                               10
Lithuania                            10
Benin                                10
Kuwait                               10
Slovenia                             10
Turkey                               10
Equatorial Guinea                    10
Mexico                               10
Guadeloupe                           10
Italy                                10
Guatemala                            10
Chile                                10
Venezuela                            10
Poland                               10
Mauritius                            10
Moldova                              10
Slovakia                             10
Switzerland                          10
Nepal                                10
Kyrgyzstan                           10
Luxembourg                           10
Russia                               10
Azerbaijan                           10
Cyprus                               10
Guernsey                             10
Cuba                                 10
Bangladesh                           10
Oman                                 10
Dominican Republic                   10
Austria                              10
Guinea                               10
Singapore                            10
Trinidad and Tobago                  10
Cambodia                             10
Estonia                              10
Congo (Kinshasa)                     10
South Africa                         10
Bolivia                              10
Georgia                              10
Peru                                 10
Antigua and Barbuda                  10
Rwanda                               10
Armenia                              10
Sri Lanka                            10
Montenegro                           10
Kenya                                10
The Gambia                           10
Iceland                              10
Name: Country/Region, dtype: int64