In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
from math import radians, cos, sin, asin, sqrt
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
locator = Nominatim(user_agent="myGeocoder",timeout=20)

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

Read files

In [3]:
# Get the paths where all the files are stored
current_path = os.getcwd()
train_path = current_path + '/train.csv'
test_path = current_path + '/test.csv'

In [4]:
# read csv files
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)
print('shape of train data:',train_df.shape)
print('shape of test data:',test_df.shape)

shape of train data: (16756, 8)
shape of test data: (12212, 6)

In [5]:
train_df.head()

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0

In [6]:
test_df['Date'].value_counts()

2020-03-22    284
2020-03-24    284
2020-03-28    284
2020-04-15    284
2020-03-21    284
2020-04-08    284
2020-04-13    284
2020-04-02    284
2020-03-12    284
2020-03-16    284
2020-03-23    284
2020-04-06    284
2020-04-05    284
2020-04-21    284
2020-04-11    284
2020-03-31    284
2020-04-14    284
2020-04-04    284
2020-04-07    284
2020-04-17    284
2020-04-19    284
2020-03-19    284
2020-04-10    284
2020-03-20    284
2020-03-17    284
2020-04-12    284
2020-04-03    284
2020-04-22    284
2020-04-20    284
2020-03-14    284
2020-03-25    284
2020-03-29    284
2020-03-30    284
2020-04-01    284
2020-04-23    284
2020-03-27    284
2020-04-09    284
2020-03-26    284
2020-03-13    284
2020-04-18    284
2020-03-18    284
2020-03-15    284
2020-04-16    284
Name: Date, dtype: int64

Perform data transformation

In [7]:
# Convert confirmed cases and fatalities columns to int as they are counts
train_df['ConfirmedCases'] = train_df['ConfirmedCases'].astype(int)
train_df['Fatalities'] = train_df['Fatalities'].astype(int)

In [8]:
# Convert string date time to datetime object
train_df['Modified_Date'] = pd.to_datetime(train_df['Date'])

In [9]:
# Extract month from datetime object
train_df["month"] = train_df['Modified_Date'].map(lambda x: x.month)

In [10]:
train_df

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,Modified_Date,month
0,1,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,2020-01-22,1
1,2,NaN,Afghanistan,33.0000,65.0000,2020-01-23,0,0,2020-01-23,1
2,3,NaN,Afghanistan,33.0000,65.0000,2020-01-24,0,0,2020-01-24,1
3,4,NaN,Afghanistan,33.0000,65.0000,2020-01-25,0,0,2020-01-25,1
4,5,NaN,Afghanistan,33.0000,65.0000,2020-01-26,0,0,2020-01-26,1
...,...,...,...,...,...,...,...,...,...,...
16751,26374,NaN,Zambia,-15.4167,28.2833,2020-03-16,0,0,2020-03-16,3
16752,26375,NaN,Zambia,-15.4167,28.2833,2020-03-17,0,0,2020-03-17,3
16753,26376,NaN,Zambia,-15.4167,28.2833,2020-03-18,2,0,2020-03-18,3
16754,26377,NaN,Zambia,-15.4167,28.2833,2020-03-19,2,0,2020-03-19,3
16755,26378,NaN,Zambia,-15.4167,28.2833,2020-03-20,2,0,2020-03-20,3

In [21]:
train_df.isnull().sum()

Id                   0
Province/State    9086
Country/Region       0
Lat                 59
Long                59
Date                 0
ConfirmedCases       0
Fatalities           0
Modified_Date        0
month                0
geom                 0
new_state         9086
dtype: int64

In [11]:
import ssl 

# Disable SSL certificate verification
try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    # Legacy Python that doesn't verify HTTPS certificates by default
    pass
else:
    # Handle target environment that doesn't support HTTPS verification
    ssl._create_default_https_context = _create_unverified_https_context

In [12]:
# Concatenate latitude and longitude feature together
train_df["geom"] = train_df["Lat"].map(str) + ',' + train_df["Long"].map(str)

In [58]:
# Get new state for dataframe
train_df['new_state'] = train_df['Province/State']

In [14]:
# Get dataframe with null states
null_state_df = train_df[train_df['Province/State'].isnull()==True]
# get all the unique geom from null province dataframe
unique_geom = null_state_df['geom'].unique()

In [72]:
#Get the not null values for province/state
not_null_state_df = train_df[train_df['Province/State'].isnull()==False]
print("Shape of the not null states dataframe",not_null_state_df.shape)
print("Shape of the original dataframe",train_df.shape)
print("Null values of the not null states dataframe",not_null_state_df.isnull().sum())

Shape of the not null states dataframe (7670, 12)
Shape of the original dataframe (16756, 12)
Null values of the not null states dataframe Id                0
Province/State    0
Country/Region    0
Lat               0
Long              0
Date              0
ConfirmedCases    0
Fatalities        0
Modified_Date     0
month             0
geom              0
new_state         0
dtype: int64

In [56]:
not_null_state_df["new_state"]

Index(['Id', 'Province/State', 'Country/Region', 'Lat', 'Long', 'Date',
       'ConfirmedCases', 'Fatalities', 'Modified_Date', 'month', 'geom',
       'new_state'],
      dtype='object')

In [15]:
train_df['geom'].nunique()

276

In [16]:
len(unique_geom)

153

In [17]:
# Get state from the given latitude and longitude
def get_state(coordinates):
    """
    Get states from the given coordinates.
    If the location obtained from the service is None or
    if the inputs are nan's then output is None
    
    Input Args:
    coordinates(str): String with format '<lat>,<long>'
    
    Output Args:
    state(str): String value consisting of state name or Nones
    """
    state = None
    if coordinates == 'nan,nan':
        return state
    location = locator.reverse(coordinates,language='en')
    # If the location is found from the geoenconder
    if location[0] is not None:
        state = location.raw['address'].get('state','')
    return state

In [25]:
# create dictionary of geom to new state using geoencoder
geom_to_state_dict = {}
for i,geom in enumerate(unique_geom):
    state = get_state(geom)
    # If state returned is empty string then default it to None
    if state == "":
        state = None
    geom_to_state_dict[geom] = state

In [26]:
geom_to_state_dict

{'33.0,65.0': 'Helmand',
 '41.1533,20.1683': 'Central Albania',
 '28.0339,1.6596': 'Adrar',
 '42.5063,1.5218': None,
 '17.0608,-61.7964': None,
 '-38.4161,-63.6167': 'La Pampa',
 '40.0691,45.0382': 'Ararat Province',
 'nan,nan': None,
 '47.5162,14.5501': 'Styria',
 '40.1431,47.5769': 'Aghjabadi District',
 '26.0275,50.55': 'Southern Governorate',
 '23.685,90.3563': 'Dhaka Division',
 '13.1939,-59.5432': None,
 '53.7098,27.9534': 'Minsk Region',
 '50.8333,4.0': 'Flanders',
 '9.3077,2.3158': 'Borgou',
 '27.5142,90.4336': 'Trongsa District',
 '-16.2902,-63.5887': 'Santa Cruz',
 '43.9159,17.6791': 'Federation of Bosnia and Herzegovina',
 '-14.235,-51.9253': 'Mato Grosso',
 '4.5353,114.7277': 'Tutong District',
 '42.7339,25.4858': 'Stara Zagora',
 '12.2383,-1.5616': None,
 '11.55,104.9167': 'Phnom Penh',
 '3.8480000000000003,11.5021': 'Centre',
 '6.6111,20.9394': 'Ouaka',
 '-35.6751,-71.543': 'Maule Region',
 '4.5709,-74.2973': 'Cundinamarca',
 '-4.0383,21.7587': 'Kasai',
 '9.7489,-83.7534': 'Cartago Province',
 '7.54,-5.5471': 'Vallée du Bandama',
 '45.1,15.2': None,
 '22.0,-80.0': 'Villa Clara',
 '35.1264,33.4299': 'Cyprus',
 '49.8175,15.472999999999999': 'Southeast',
 '11.8251,42.5903': 'Tadjourah',
 '18.7357,-70.1627': 'Monte Plata',
 '-1.8312,-78.1834': 'Morona Santiago',
 '26.0,30.0': 'New Valley Governorate',
 '1.5,10.0': 'Litoral',
 '58.5953,25.0136': None,
 '-26.5225,31.4659': 'Manzini',
 '9.145,40.4897': 'Oromia Region',
 '64.0,26.0': 'Mainland Finland',
 '3.9339,-53.1258': 'French Guiana',
 '-0.8037,11.6094': 'Ogooué-Lolo',
 '13.4432,-15.3101': 'Lower River',
 '42.3154,43.3569': 'Imereti',
 '51.0,9.0': 'Hesse',
 '7.9465,-1.0232': 'Bono East Region',
 '39.0742,21.8243': 'Thessaly - Central Greece',
 '72.0,-40.0': None,
 '16.265,-61.551': 'Guadeloupe',
 '13.4443,144.7937': 'Guam',
 '15.7835,-90.2308': 'Alta Verapaz',
 '49.45,-2.58': 'Guernsey',
 '9.9456,-9.6966': 'Kankan',
 '5.0,-58.75': 'Upper Demerara-Berbice',
 '41.9029,12.4534': None,
 '15.2,-86.2419': 'Olancho',
 '47.1625,19.5033': None,
 '64.9631,-19.0208': None,
 '21.0,78.0': 'Maharashtra',
 '-0.7893,113.9213': 'Central Kalimantan',
 '32.0,53.0': 'Isfahan Province',
 '33.0,44.0': 'Al Anbar',
 '53.1424,-7.6921': None,
 '31.0,35.0': 'South District',
 '43.0,12.0': 'Umbria',
 '18.1096,-77.2975': None,
 '36.0,138.0': 'Nagano Prefecture',
 '49.19,-2.11': None,
 '31.24,36.51': 'Ma’an',
 '48.0196,66.9237': 'Karaganda Region',
 '-0.0236,37.9062': 'Meru',
 '36.0,128.0': 'Gyeongsangbuk-do',
 '42.6026,20.903000000000002': None,
 '29.5,47.75': 'Jahra',
 '41.2044,74.7661': 'Naryn Region',
 '56.8796,24.6032': 'Zemgale',
 '33.8547,35.8623': 'Zahlé District',
 '6.4281,-9.4295': 'Grand Bassa County',
 '47.14,9.55': None,
 '55.1694,23.8813': 'Kaunas County',
 '49.8153,6.1296': None,
 '2.5,112.5': 'Sarawak',
 '3.2028,73.2207': 'Vaavu',
 '35.9375,14.3754': 'Northern Region',
 '14.6415,-61.0242': 'Martinique',
 '21.0079,10.9408': None,
 '-20.2,57.5': 'Moka',
 '-12.8275,45.1662': 'Mayotte',
 '23.6345,-102.5528': 'Zacatecas',
 '47.4116,28.3699': 'Calarași District',
 '43.7333,7.4167': None,
 '46.8625,103.8467': 'Övörkhangai',
 '42.5,19.3': None,
 '31.7917,-7.0926': None,
 '-22.9576,18.4904': 'Omaheke',
 '28.1667,84.25': 'Gandaki Pradesh',
 '-40.9006,174.886': 'Wellington',
 '9.082,8.6753': 'Nasarawa',
 '41.6086,21.7453': 'Vardar Region',
 '60.472,8.4689': None,
 '21.0,57.0': 'Al Wusta',
 '30.3753,69.3451': 'Balochistan',
 '8.538,-80.7821': 'Coclé',
 '-23.4425,-58.4438': 'Presidente Hayes',
 '-9.19,-75.0152': 'Huánuco',
 '13.0,122.0': 'Romblon',
 '51.9194,19.1451': 'Łódź Voivodeship',
 '39.3999,-8.2245': 'Centro',
 '18.2,-66.5': 'Puerto Rico',
 '25.3548,51.1839': 'Ar Rayyan',
 '-1.44,15.556': 'Plateaux',
 '-21.1151,55.5364': 'Réunion',
 '45.9432,24.9668': None,
 '60.0,90.0': 'Krasnoyarsk Krai',
 '-1.9403,29.8739': 'Southern Province',
 '13.9094,-60.9789': 'Castries',
 '12.9843,-61.2872': None,
 '43.9424,12.4578': None,
 '24.0,45.0': None,
 '14.4974,-14.4524': 'Tambacounda Region',
 '44.0165,21.0059': 'Central Serbia',
 '-4.6796,55.492': None,
 '1.2833,103.8333': None,
 '48.669,19.699': 'Region of Banská Bystrica',
 '46.1512,14.9955': None,
 '5.1521,46.1996': 'Galgaduud',
 '-30.5595,22.9375': 'Northern Cape',
 '40.0,-4.0': 'Castile-La Mancha',
 '7.0,81.0': 'Uva Province',
 '12.8628,30.2176': 'North Kordofan State',
 '3.9193,-56.0278': 'Sipaliwini',
 '63.0,16.0': 'Jämtland County',
 '46.8182,8.2275': 'Obwalden',
 '23.7,121.0': 'Taiwan Province',
 '-6.369,34.8888': 'Singida',
 '15.0,101.0': 'Lopburi Province',
 '24.25,-76.0': None,
 '13.4667,-16.6': 'Banjul City Council',
 '8.6195,0.8248': 'Centrale Region',
 '10.6918,-61.2225': 'Tunapuna-Piarco',
 '34.0,9.0': 'Kébili',
 '38.9637,35.2433': 'Central Anatolia Region',
 '48.3794,31.1656': 'Kirovohrad Oblast',
 '24.0,54.0': 'Abu Dhabi',
 '-32.5228,-55.7658': 'Tacuarembó',
 '41.3775,64.5853': 'Navoiy Region',
 '6.4238,-66.5897': 'Bolivar State',
 '16.0,108.0': 'Da Nang',
 '-15.4167,28.2833': 'Lusaka Province'}

In [27]:
null_state_df['new_state'] = null_state_df['geom'].apply(lambda x:geom_to_state_dict[x])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
# Apply tansformations from dictionary to geom column
null_state_df

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,Modified_Date,month,geom,new_state
0,1,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,2020-01-22,1,"33.0,65.0",Helmand
1,2,NaN,Afghanistan,33.0000,65.0000,2020-01-23,0,0,2020-01-23,1,"33.0,65.0",Helmand
2,3,NaN,Afghanistan,33.0000,65.0000,2020-01-24,0,0,2020-01-24,1,"33.0,65.0",Helmand
3,4,NaN,Afghanistan,33.0000,65.0000,2020-01-25,0,0,2020-01-25,1,"33.0,65.0",Helmand
4,5,NaN,Afghanistan,33.0000,65.0000,2020-01-26,0,0,2020-01-26,1,"33.0,65.0",Helmand
...,...,...,...,...,...,...,...,...,...,...,...,...
16751,26374,NaN,Zambia,-15.4167,28.2833,2020-03-16,0,0,2020-03-16,3,"-15.4167,28.2833",Lusaka Province
16752,26375,NaN,Zambia,-15.4167,28.2833,2020-03-17,0,0,2020-03-17,3,"-15.4167,28.2833",Lusaka Province
16753,26376,NaN,Zambia,-15.4167,28.2833,2020-03-18,2,0,2020-03-18,3,"-15.4167,28.2833",Lusaka Province
16754,26377,NaN,Zambia,-15.4167,28.2833,2020-03-19,2,0,2020-03-19,3,"-15.4167,28.2833",Lusaka Province
16755,26378,NaN,Zambia,-15.4167,28.2833,2020-03-20,2,0,2020-03-20,3,"-15.4167,28.2833",Lusaka Province

In [52]:
null_state_df.isnull().sum()

Id                   0
Province/State    9086
Country/Region       0
Lat                 59
Long                59
Date                 0
ConfirmedCases       0
Fatalities           0
Modified_Date        0
month                0
geom                 0
new_state         1770
dtype: int64

In [44]:
null_state_df['new_state'].unique()

array(['Helmand', 'Central Albania', 'Adrar', None, 'La Pampa',
       'Ararat Province', 'Styria', 'Aghjabadi District',
       'Southern Governorate', 'Dhaka Division', 'Minsk Region',
       'Flanders', 'Borgou', 'Trongsa District', 'Santa Cruz',
       'Federation of Bosnia and Herzegovina', 'Mato Grosso',
       'Tutong District', 'Stara Zagora', 'Phnom Penh', 'Centre', 'Ouaka',
       'Maule Region', 'Cundinamarca', 'Kasai', 'Cartago Province',
       'Vallée du Bandama', 'Villa Clara', 'Cyprus', 'Southeast',
       'Tadjourah', 'Monte Plata', 'Morona Santiago',
       'New Valley Governorate', 'Litoral', 'Manzini', 'Oromia Region',
       'Mainland Finland', 'French Guiana', 'Ogooué-Lolo', 'Lower River',
       'Imereti', 'Hesse', 'Bono East Region',
       'Thessaly - Central Greece', 'Guadeloupe', 'Guam', 'Alta Verapaz',
       'Guernsey', 'Kankan', 'Upper Demerara-Berbice', 'Olancho',
       'Maharashtra', 'Central Kalimantan', 'Isfahan Province',
       'Al Anbar', 'South District', 'Umbria', 'Nagano Prefecture',
       'Ma’an', 'Karaganda Region', 'Meru', 'Gyeongsangbuk-do', 'Jahra',
       'Naryn Region', 'Zemgale', 'Zahlé District', 'Grand Bassa County',
       'Kaunas County', 'Sarawak', 'Vaavu', 'Northern Region',
       'Martinique', 'Moka', 'Mayotte', 'Zacatecas', 'Calarași District',
       'Övörkhangai', 'Omaheke', 'Gandaki Pradesh', 'Wellington',
       'Nasarawa', 'Vardar Region', 'Al Wusta', 'Balochistan', 'Coclé',
       'Presidente Hayes', 'Huánuco', 'Romblon', 'Łódź Voivodeship',
       'Centro', 'Puerto Rico', 'Ar Rayyan', 'Plateaux', 'Réunion',
       'Krasnoyarsk Krai', 'Southern Province', 'Castries',
       'Tambacounda Region', 'Central Serbia',
       'Region of Banská Bystrica', 'Galgaduud', 'Northern Cape',
       'Castile-La Mancha', 'Uva Province', 'North Kordofan State',
       'Sipaliwini', 'Jämtland County', 'Obwalden', 'Taiwan Province',
       'Singida', 'Lopburi Province', 'Banjul City Council',
       'Centrale Region', 'Tunapuna-Piarco', 'Kébili',
       'Central Anatolia Region', 'Kirovohrad Oblast', 'Abu Dhabi',
       'Tacuarembó', 'Navoiy Region', 'Bolivar State', 'Da Nang',
       'Lusaka Province'], dtype=object)

In [73]:
# Merge the null and not null dataframe
train_df_2 = null_state_df.append(not_null_state_df)
print("Shape of the appended dataframe",train_df_2.shape)
print("Null values of the appended dataframe",train_df_2.isnull().sum())

Shape of the appended dataframe (16756, 12)
Null values of the appended dataframe Id                   0
Province/State    9086
Country/Region       0
Lat                 59
Long                59
Date                 0
ConfirmedCases       0
Fatalities           0
Modified_Date        0
month                0
geom                 0
new_state         1770
dtype: int64

In [79]:
# Remove the rows with null new_state columns
final_df = train_df_2[train_df_2['new_state'].isnull()==False]

In [81]:
final_df.isnull().sum()

Id                   0
Province/State    7316
Country/Region       0
Lat                  0
Long                 0
Date                 0
ConfirmedCases       0
Fatalities           0
Modified_Date        0
month                0
geom                 0
new_state            0
dtype: int64

In [82]:
unique_country = final_df['Country/Region'].unique()
unique_state = final_df['new_state'].unique()

In [83]:
# Create a dictionary to tag string columns to numbers for countries column
unique_country_to_index_dict = {}
index_to_unique_country_dict = {}
for i, val in enumerate(unique_country):
    unique_country_to_index_dict[val] = i
    index_to_unique_country_dict[i] = val

In [84]:
# Create a dictionary to tag string columns to numbers for state column
unique_state_to_index_dict = {}
index_to_unique_state_dict = {}
for i, val in enumerate(unique_state):
    unique_state_to_index_dict[val] = i
    index_to_unique_state_dict[i] = val

In [86]:
# Apply the transformations from dictionary to columns
final_df['country_index'] = final_df['Country/Region'].apply(lambda x:unique_country_to_index_dict[x])
final_df['state_index'] = final_df['new_state'].apply(lambda x:unique_state_to_index_dict[x])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [87]:
def single_pt_haversine(lat, lng, degrees=True):
    """
    'Single-point' Haversine: Calculates the great circle distance
    between a point on Earth and the (0, 0) lat-long coordinate
    """
    r = 6371 # Earth's radius (km). Have r = 3956 if you want miles

    # Convert decimal degrees to radians
    if degrees:
        lat, lng = map(radians, [lat, lng])

    # 'Single-point' Haversine formula
    a = sin(lat/2)**2 + cos(lat) * sin(lng/2)**2
    # Modifying this part and removing the scaling factor
    # d = 2 * r * asin(sqrt(a)) 
    d = asin(sqrt(a)) 

    return d

In [92]:
# Convert lat long feature to a single feature and fill nan values in the subsequent column
#train_df['lat-long']= [str(x) + '' + str(y) for x, y in zip(train_df['Lat'], train_df['Long'])]
final_df['harvesine-lat-long'] = [single_pt_haversine(x, y) for x, y in zip(final_df['Lat'], final_df['Long'])]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [99]:
final_df

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,Modified_Date,month,geom,new_state,country_index,state_index,harvesine-lat-long
0,1,NaN,Afghanistan,33.0000,65.000,2020-01-22,0,0,2020-01-22,1,"33.0,65.0",Helmand,0,0,0.604242
1,2,NaN,Afghanistan,33.0000,65.000,2020-01-23,0,0,2020-01-23,1,"33.0,65.0",Helmand,0,0,0.604242
2,3,NaN,Afghanistan,33.0000,65.000,2020-01-24,0,0,2020-01-24,1,"33.0,65.0",Helmand,0,0,0.604242
3,4,NaN,Afghanistan,33.0000,65.000,2020-01-25,0,0,2020-01-25,1,"33.0,65.0",Helmand,0,0,0.604242
4,5,NaN,Afghanistan,33.0000,65.000,2020-01-26,0,0,2020-01-26,1,"33.0,65.0",Helmand,0,0,0.604242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16456,25909,United Kingdom,United Kingdom,55.3781,-3.436,2020-03-16,1543,55,2020-03-16,3,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885
16457,25910,United Kingdom,United Kingdom,55.3781,-3.436,2020-03-17,1950,55,2020-03-17,3,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885
16458,25911,United Kingdom,United Kingdom,55.3781,-3.436,2020-03-18,2626,71,2020-03-18,3,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885
16459,25912,United Kingdom,United Kingdom,55.3781,-3.436,2020-03-19,2689,137,2020-03-19,3,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885
16460,25913,United Kingdom,United Kingdom,55.3781,-3.436,2020-03-20,3983,177,2020-03-20,3,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885

In [93]:
final_df['harvesine-lat-long'].unique()

array([0.60424194, 0.39292762, 0.24503553, 0.60758611, 0.49972456,
       0.42915248, 0.51449234, 0.48155829, 0.78824556, 0.51031987,
       0.44459561, 0.08367982, 0.78875406, 0.56483729, 0.40717739,
       0.46505044, 1.00046728, 0.42296247, 0.91287568, 0.10577109,
       0.19123107, 0.65534665, 0.64881328, 0.19296686, 0.73167655,
       0.08160416, 0.70454435, 0.40975852, 0.44985377, 0.38307348,
       0.62181112, 0.6823323 , 0.33935877, 0.08823287, 0.35128376,
       0.36071964, 0.58290544, 0.46449317, 0.10155028, 0.1768694 ,
       0.50157571, 0.45002397, 0.06991513, 0.38300007, 0.5479141 ,
       1.24464696, 0.78733633, 0.43196613, 0.12091711, 0.51384422,
       0.75375142, 0.68772704, 0.99412984, 0.51759178, 0.46158872,
       0.39619164, 0.38682008, 1.10790965, 0.40657689, 0.65276282,
       0.33079405, 1.04609009, 0.47283588, 0.68589706, 0.52544774,
       0.41625477, 0.09944621, 0.5106525 , 0.9815506 , 0.63920662,
       0.33460888, 0.54148401, 0.52114042, 0.40640765, 0.88562254,
       0.46648478, 0.86758718, 0.2544721 , 0.74117875, 1.21157965,
       0.10938328, 0.40154124, 0.51869794, 0.63078664, 0.70585593,
       0.53499187, 0.65634818, 1.0566825 , 0.47440138, 0.35004266,
       0.59114825, 0.48430652, 0.13631779, 0.50734195, 0.78539816,
       0.2611976 , 0.54023931, 0.17767911, 0.41738496, 0.44990512,
       0.40510121, 0.32752721, 0.35051488, 0.70744858, 0.28450393,
       0.48972228, 0.55959928, 0.41337375, 1.03095096, 0.30886   ,
       0.8780817 , 0.18548807, 0.07556033, 0.53902236, 0.30571259,
       0.44137602, 0.48315764, 0.5019784 , 0.5382841 , 0.62145945,
       0.5824631 , 0.93619703, 0.27842025, 1.17180616, 1.12025686,
       1.1928622 , 1.1317436 , 1.24028837, 1.11658992, 1.12049264,
       1.13711883, 0.97495782, 0.91866639, 0.96762271, 1.00617468,
       0.83075045, 0.64632686, 0.622047  , 0.6254123 , 0.75987187,
       0.62886577, 0.69964474, 0.87115159, 0.98502144, 0.9587866 ,
       0.91983788, 1.00294758, 0.86145995, 0.97221641, 0.9349232 ,
       0.9164256 , 0.94776458, 0.958643  , 0.99709368, 0.95490159,
       0.97989895, 0.95086961, 0.95236728, 0.93328925, 0.99802   ,
       0.98276864, 1.00606813, 0.99382216, 0.97491265, 0.89710548,
       0.82783696, 0.91914288, 0.98030243, 1.01669411, 0.93807445,
       0.8806474 , 0.96694616, 0.77123436, 0.75411841, 0.87615845,
       1.01195355, 0.49556244, 0.54205365, 0.40376928, 1.26623123,
       0.54816203, 0.50509874, 0.56066782, 0.56267755, 0.61548911,
       0.60635962, 0.45659735, 0.76255637, 1.00467658, 0.93977791,
       0.80236684, 0.99116623, 0.88865022, 0.67362276, 0.6879779 ,
       0.69758833, 0.72125434, 0.73892328, 1.3049589 , 0.93609551,
       0.77865521, 0.76033714, 0.80621013, 0.83127907, 0.74860069,
       0.79934412, 0.65888999, 0.69629029, 0.6670052 , 0.75073683,
       0.80916212, 0.78303978, 0.8010348 , 0.90590161, 0.83966688,
       0.96786671, 0.66957626, 0.68290786, 0.90125606, 0.68855029,
       0.7132257 , 0.84289618, 0.73736188, 0.83454377, 0.97934823,
       0.70094116, 0.59191275, 0.66584408, 0.71986298, 0.84421861,
       0.76197577, 0.84189835, 0.8251424 , 0.57815602, 0.92970896,
       0.67775873, 0.70401132, 0.96608792, 0.72371395, 0.7830017 ,
       0.89547445, 0.71340585, 0.43121968, 0.31836241, 0.55380422,
       0.48388538])

In [94]:
final_df[final_df['harvesine-lat-long'].isnull()==True]

Empty DataFrame
Columns: [Id, Province/State, Country/Region, Lat, Long, Date, ConfirmedCases, Fatalities, Modified_Date, month, geom, new_state, country_index, state_index, harvesine-lat-long]
Index: []

In [95]:
# Extract data based on months
month1_df = final_df[final_df['month'] == 1]
month2_df = final_df[final_df['month'] == 2]
month3_df = final_df[final_df['month'] == 3]

In [96]:
month1_df

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,Modified_Date,month,geom,new_state,country_index,state_index,harvesine-lat-long
0,1,NaN,Afghanistan,33.0000,65.000,2020-01-22,0,0,2020-01-22,1,"33.0,65.0",Helmand,0,0,0.604242
1,2,NaN,Afghanistan,33.0000,65.000,2020-01-23,0,0,2020-01-23,1,"33.0,65.0",Helmand,0,0,0.604242
2,3,NaN,Afghanistan,33.0000,65.000,2020-01-24,0,0,2020-01-24,1,"33.0,65.0",Helmand,0,0,0.604242
3,4,NaN,Afghanistan,33.0000,65.000,2020-01-25,0,0,2020-01-25,1,"33.0,65.0",Helmand,0,0,0.604242
4,5,NaN,Afghanistan,33.0000,65.000,2020-01-26,0,0,2020-01-26,1,"33.0,65.0",Helmand,0,0,0.604242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16407,25860,United Kingdom,United Kingdom,55.3781,-3.436,2020-01-27,0,0,2020-01-27,1,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885
16408,25861,United Kingdom,United Kingdom,55.3781,-3.436,2020-01-28,0,0,2020-01-28,1,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885
16409,25862,United Kingdom,United Kingdom,55.3781,-3.436,2020-01-29,0,0,2020-01-29,1,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885
16410,25863,United Kingdom,United Kingdom,55.3781,-3.436,2020-01-30,0,0,2020-01-30,1,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885
16411,25864,United Kingdom,United Kingdom,55.3781,-3.436,2020-01-31,2,0,2020-01-31,1,"55.3781,-3.4360000000000004",United Kingdom,132,245,0.483885

In [97]:
month3_df[month3_df['ConfirmedCases']>0]['Country/Region'].value_counts()

China                       660
US                          585
Australia                   140
Canada                      126
France                       91
United Kingdom               59
Denmark                      37
Netherlands                  35
Korea, South                 20
Nepal                        20
New Zealand                  20
Russia                       20
Cambodia                     20
Thailand                     20
India                        20
Finland                      20
Georgia                      20
Cruise Ship                  20
Czechia                      20
Qatar                        20
Belarus                      20
Afghanistan                  20
Greece                       20
Vietnam                      20
Belgium                      20
Spain                        20
Switzerland                  20
Italy                        20
Algeria                      20
Nigeria                      20
Oman                         20
Azerbaijan                   20
Japan                        20
Pakistan                     20
Egypt                        20
Germany                      20
Bahrain                      20
Brazil                       20
Armenia                      20
Iraq                         20
United Arab Emirates         20
Iran                         20
Dominican Republic           20
Lebanon                      20
Kuwait                       20
Austria                      20
Ecuador                      20
Lithuania                    20
Malaysia                     20
Israel                       20
Taiwan*                      20
North Macedonia              20
Sri Lanka                    20
Philippines                  20
Sweden                       20
Mexico                       20
Latvia                       19
Senegal                      19
Portugal                     19
Indonesia                    19
Argentina                    18
Jordan                       18
Chile                        18
Ukraine                      18
Poland                       17
Tunisia                      17
South Africa                 16
Bosnia and Herzegovina       16
Colombia                     15
Peru                         15
Serbia                       15
Cameroon                     15
Bhutan                       15
Costa Rica                   15
Togo                         15
Slovakia                     15
Malta                        14
Martinique                   14
Maldives                     13
Paraguay                     13
Bulgaria                     13
Moldova                      13
Bangladesh                   13
Albania                      12
Cyprus                       12
Brunei                       12
Mongolia                     11
Panama                       11
Cote d'Ivoire                10
Turkey                       10
Honduras                     10
Bolivia                      10
Congo (Kinshasa)             10
Guyana                        9
Cuba                          9
Guinea                        8
Kenya                         8
Ethiopia                      8
Kazakhstan                    8
Sudan                         8
Trinidad and Tobago           7
Namibia                       7
Saint Lucia                   7
Suriname                      7
Eswatini                      7
Venezuela                     7
Guatemala                     7
Uruguay                       7
Rwanda                        7
Ghana                         7
Gabon                         7
Congo (Brazzaville)           6
Equatorial Guinea             6
Uzbekistan                    6
Central African Republic      6
Benin                         5
Liberia                       5
Tanzania                      5
Somalia                       5
Gambia, The                   4
Kyrgyzstan                    3
Zambia                        3
Mauritius                     3
Djibouti                      3
Reunion                       1
French Guiana                 1
Mayotte                       1
Guadeloupe                    1
Name: Country/Region, dtype: int64

In [98]:
month1_df['Country/Region'].value_counts()

US                          580
China                       330
Canada                      110
Australia                    90
France                       80
United Kingdom               50
Netherlands                  30
Denmark                      20
Uruguay                      10
Serbia                       10
North Macedonia              10
Guatemala                    10
The Gambia                   10
Nigeria                      10
Lebanon                      10
Portugal                     10
Ecuador                      10
French Guiana                10
Israel                       10
Japan                        10
Chile                        10
Tanzania                     10
India                        10
Moldova                      10
Jordan                       10
Saint Lucia                  10
Ghana                        10
Finland                      10
Tunisia                      10
Maldives                     10
Guadeloupe                   10
Somalia                      10
Azerbaijan                   10
Suriname                     10
Iran                         10
Congo (Brazzaville)          10
Slovakia                     10
Poland                       10
Thailand                     10
Colombia                     10
Spain                        10
Cote d'Ivoire                10
Czechia                      10
Belgium                      10
Sweden                       10
Trinidad and Tobago          10
Latvia                       10
Germany                      10
Central African Republic     10
Bulgaria                     10
Pakistan                     10
Liberia                      10
Eswatini                     10
Bosnia and Herzegovina       10
Bangladesh                   10
Brazil                       10
Albania                      10
Qatar                        10
Cuba                         10
Armenia                      10
Gabon                        10
Cameroon                     10
Turkey                       10
Mauritius                    10
Korea, South                 10
Peru                         10
United Arab Emirates         10
Philippines                  10
Sudan                        10
Indonesia                    10
Kuwait                       10
Belarus                      10
Afghanistan                  10
Gambia, The                  10
Ethiopia                     10
Malta                        10
Bahrain                      10
Switzerland                  10
Benin                        10
Kenya                        10
Egypt                        10
Greece                       10
Zambia                       10
Argentina                    10
Venezuela                    10
Vietnam                      10
Honduras                     10
Reunion                      10
Sri Lanka                    10
Brunei                       10
Cruise Ship                  10
Martinique                   10
Namibia                      10
Senegal                      10
Mongolia                     10
Algeria                      10
Italy                        10
Costa Rica                   10
Republic of the Congo        10
Ukraine                      10
Iraq                         10
Kyrgyzstan                   10
Oman                         10
Malaysia                     10
New Zealand                  10
South Africa                 10
Nepal                        10
Guam                         10
Taiwan*                      10
Uzbekistan                   10
Cambodia                     10
Mexico                       10
Russia                       10
Congo (Kinshasa)             10
Guyana                       10
Togo                         10
Mayotte                      10
Lithuania                    10
Djibouti                     10
Guinea                       10
Guernsey                     10
Equatorial Guinea            10
Georgia                      10
Austria                      10
Panama                       10
Paraguay                     10
Rwanda                       10
Puerto Rico                  10
Bhutan                       10
Dominican Republic           10
Cyprus                       10
Kazakhstan                   10
Bolivia                      10
Name: Country/Region, dtype: int64